body{
  background-image:url(../img/bg.png);
}
@media(max-width: 768px){
  body img.logo{
    padding-top: 25%;
    width: 70%;
  }
  body img#brasil,#eua{
    width: 15%;
  }
  h1{
    font-size: 10px;
    letter-spacing: 3px;
  }
  hr{
    max-width: 90px;
    border-width: 2px;
  }
  a{
    font-size: 10px;
  }
  p{
    font-size: 9px;
    letter-spacing: 2px;
  }
  .email{
    margin-top: 5px;
  }


}
@media(min-width: 768px){
  body img.logo{
     padding-top: 10%;
  }
  h1{
    font-size: 20px;
    letter-spacing: 5px;
  }
  hr{
    max-width: 140px;
    border-width: 3px;
  }
  p{
    font-size: 15px;
    letter-spacing: 5px;
  }
  .email{
    margin-top: 10px;
  }


}

h1{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 15px;
  font-weight: bold;
}
hr {
  border-color: #979595;
}
.welcome{
  margin-top: -15px;
}
i:hover{
  color: #000;
}

.icon{
  color: #fff;
  font-size: 0;
}
a{
  text-decoration: none!important;
}

p{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
}
