.footer {
  margin-top: 5rem;
  background-color: #4196f1;
  .bg-dark {
    position: relative;
    top: -50px;
    padding: 30px;
    border-radius: 10px;
    background-color: #293347;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #293347;
    .col-md-4 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .heading-footer {
      color: #fff;
    }
    .text-footer {
      color: #fff;
    }
    .btn-rounded {
      border-radius: 25px;
      border: 2px solid #9b99ff;
      padding: 3px 10px;
      color: #9b99ff;
      transition: 250ms ease-in-out;
      font-weight: bold;
      &:hover {
        text-decoration: none;
        background-color: #9b99ff;
        color: #fff;
        transition: 250ms ease-in-out;
        border: 2px solid #0600ff66;
      }
    }
  }
  .logo {
    margin: 0;
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999px;
    margin-top: 5px;
  }
  .phrase-footer {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .icon-list {
    .icons {
      color: #4845de;
      font-size: 35px;
      margin-right: 5px;
      transition: 250ms ease-in-out;
      margin-bottom: 10px;
      &:hover {
        transition: 250ms ease-in-out;
        color: #fff;
      }
    }
  }
  .info-footer,
  .copyright-footer {
    color: #fff;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: normal;
    a {
      transition: 250ms ease-in-out;
      color: #fff;
      &:hover {
        color: #0600ffa6;
        transition: 250ms ease-in-out;
      }
    }
  }
}
