#portfolio {
  padding-top: 5rem;
  .separator {
    border-top: 1px solid #e6ecf8;
  }
  .heading-sobre {
    padding-top: 1em;
    padding-bottom: 3rem;
  }
  .portfolio-item {
    padding-bottom: 20px;
    img {
      width: 100%;
      height: auto;
      transition: 350ms ease-in-out;
      opacity: 1;
    }
    .caption-box {
      position: relative;
    }
    .portfolio-info {
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      opacity: 0;
      transition: 350ms ease-in-out;

      .portfolio-heading {
        font-size: 15px;
        color: #fff;
      }
    }
    &:hover {
      .portfolio-info {
        opacity: 1;
        transition: 350ms ease-in-out;
        background-color: #8dabc0;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 5px 5px 0 rgba(217, 225, 230, 0.53), 0 0 0 1px #8dabc0;
      }
    }
    a {
      display: inline-block;
      color: #ffffff;
      border-radius: 25px;
      border: 2px solid #7e7e7f;
      transition: 250ms ease-in-out;
      padding: 3px 10px;
      font-weight: bold;
      transition: 250ms ease-in-out;
      &:hover {
        background-color: #0600ff66;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
