.skills {
  padding-top: 25px;
  .row {
    border-radius: 10px;
    border: 1px solid #e6ecf8;
    background-color: #fff;
    margin-top: -90px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px #29334700;
    .col-md-6 {
      margin-bottom: 10px;
      &:nth-child(2) {
        border-top: 1px solid #e6ecf8;
      }
      @media (min-width: 768px) {
        border-top: 0;
        &:nth-child(1) {
          border-right: 1px solid #e6ecf8;
          margin-bottom: 0;
        }
        &:nth-child(2) {
          border-top: 0;
        }
      }
      .icon {
        margin-top: 35px;
        color: #0600ff66;
      }
      .heading-skills {
        font-size: 18px;
        padding-top: 0.6em;
      }
      .text-skills {
        color: #007bffc9;
        font-weight: bold;
        font-size: 15px;
      }
      .skill-list {
        padding: 0;
        margin-top: -10px;
        list-style: none;
        li {
          font-size: 14px;
        }
        .list {
          display: inline-block;
          margin-right: 3px;
        }
      }
      .btn-youtube {
        display: inline-block;
        color: #0600ff66;
        border-radius: 25px;
        border: 2px solid #0600ff66;
        transition: 250ms ease-in-out;
        padding: 3px 10px;
        font-weight: bold;
        margin-bottom: 10px;
        &:hover {
          background-color: #0600ff66;
          color: #fff;
          text-decoration: none;
        }
        a {
          color: #212529;
          font-weight: bold;
          transition: 250ms ease-in-out;
          &:hover {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}
