.contact {
  padding-top: 9rem;
  padding-bottom: 3rem;
  .heading-contact {
    font-size: 30px;
  }
  .secondary-contact {
    font-family: "Montserrat";
    font-size: 18px;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 50%;
      margin-top: 15px;
      padding: 5px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #e6ecf8;
      border-radius: 4px;
      box-sizing: border-box;
    }
    textarea {
      width: 50%;
      margin-top: 15px;
      padding: 5px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #e6ecf8;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .btn-submit {
      width: 25%;
      margin-top: 15px;
      border-radius: 25px;
      background-color: #fff;
      border: 2px solid #0600ff66;
      padding: 3px 10px;
      color: #0600ff66;
      transition: 250ms ease-in-out;
      font-weight: bold;
      &:hover {
        text-decoration: none;
        background-color: #0600ff66;
        color: #fff;
        transition: 250ms ease-in-out;
      }
    }
  }
}
