.monitoria {
  padding-top: 9rem;
  margin-bottom: -80px;
  .monitoria-heading {
    font-size: 30px;
  }
  .monitoria-secondary {
    font-family: "Montserrat";
    font-size: 18px;
  }
  .img-helping {
    max-width: 500px;
  }
  .content {
    background-color: #4196f1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .monitoria-heading {
      color: #fff;
    }
    .monitoria-secondary {
      color: #fff;
    }
  }
}
